doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='game.css')
    link(link rel="shortcut icon",href="/img/hello.icon",type="image/x-icon")
    title Flappy Bird
  body
    h1 Flappy Bird
    h3 Created by D-Game
    canvas#canvas(height='480px', width='300px')
    script(src=`game.js`)
